@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

* {
	font-family: Poppins, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	margin: 0;
	
	display: flex;
	flex-direction: column;
}

header, footer {
	background-color: #1b1b2d;
	color: white;
}

.title {
	margin: 1.5rem 0;
}

.title, footer p {
	text-align: center;
}

main {
	flex: 1;
	padding: 1rem;
	color: #1b1b2d;
}

.card {
    width: 350px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

.card * {
	margin: 0;
	font-size: 1rem;
}

.card .book-name {
	font-size: 1.5rem;
}

.book-status {
	margin-top: .5rem;
}

.status-text {
	padding: 2px 10px;
	border-radius: 4px;
	margin-left: 4px;
	color: white;
	font-weight: bold;
}

.card hr {
	margin: 1rem 0;
	border: 0;
	height: 1px;
	background-color: #ccc;
}

.unread {
	background-color: #ff9f43;
}

.read {
	background-color: #1dd1a1;
}

.card .actions {
	display: flex;
	justify-content: space-between;
}

.card-button {
	padding: 4px 10px;
	border: none;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}

.card-button:hover {
	border: 2px solid #1b1b2d;
	cursor: pointer;
	margin: -2px;
}

.card-button:active {
	filter: brightness(.9);
}

.button-edit {
	background-color: #2e86de;
}

.button-delete {
	background-color: #ee5253;
}

#card-template {
	display: none;
}