@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;800&display=swap");

@media screen and (max-width: 780px) {
    div.cards-container {
        max-width: 500px;
    }

    div.controls-container {
        max-width: 500px;
    }
}

@media screen and (max-width: 414px) {
    body > main {
        padding: 2rem 0.5rem;
    }
}

/* General page styling and layout */

* {
    font-family: Poppins, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    box-sizing: border-box;
    color: #1b1b2d;
}

body {
    min-height: 100vh;
    margin: 0;
	position: relative;

    display: flex;
    flex-direction: column;
}

header,
.title {
    background-color: #1b1b2d;
    color: white;
}

.title {
    margin: 1.5rem 0;
}

.title,
footer p {
    text-align: center;
}

main {
    flex: 1;
    padding: 2rem;
    color: #1b1b2d;
}

.display-none {
    display: none;
}

.hidden {
	opacity: 0;
}

/* Library controls styling */

.controls-container {
    margin: 0 auto 1rem;
    max-width: 1200px;
}

.button-new-card {
    font-size: 1.5rem;
    font-weight: 800;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: white;
    color: #2e86de;
}

.button-new-card:hover {
    color: white;
    background-color: #2e86de;
    cursor: pointer;
}

.button-new-card:active {
    border-color: #1b1b2d;
}

/* Card styling */

.cards-container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
}

.card {
    max-width: 500px;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card * {
    margin: 0;
    font-size: 1rem;
}

.card .book-name {
    font-size: 1.5rem;
    color: #161662;
}

.book-status {
    margin-top: 0.5rem;
}

.status-text {
    padding: 2px 10px;
    border-radius: 4px;
    margin-left: 4px;
    color: white;
    font-weight: 800;
}

.card hr {
    margin: 1rem 0;
    border: 0;
    height: 1px;
    background-color: #ccc;
}

.unread {
    background-color: #ff9f43;
}

.read {
    background-color: #1dd1a1;
}

.card .actions {
    display: flex;
    justify-content: space-between;
}

.card-button {
    padding: 4px 10px;
    border-radius: 6px;
    font-weight: 800;
    border: 1px solid #ccc;
    background-color: white;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.card-button:hover {
    cursor: pointer;
    color: white;
}

.card-button:active {
    border-color: #1b1b2d;
}

.button-edit {
    color: #2e86de;
}

.button-edit:hover {
    background-color: #2e86de;
}

.button-delete {
    color: #ee5253;
}

.button-delete:hover {
    background-color: #ee5253;
}

/* New book form styling */

.modal-new-book {
    max-width: 400px;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    padding: 2rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	background-color: white;
}

.modal-new-book * {
    margin: 0;
}

.form-header {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 1rem;
    color: #161662;
}

.modal-new-book > p {
    margin-bottom: 2rem;
	text-align: center;
	position: relative;
}

.form-new-book {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.form-new-book div {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.form-new-book label {
    font-size: 1.2rem;
    font-weight: 800;
    margin-left: calc(1px + 0.75rem);
}

.form-new-book label > span {
	font-weight: 500;
}

.form-new-book input[type="text"] {
    border: 1px solid #1b1b2d;
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
}

.form-new-book input[type="text"]:focus {
    background-color: #f0f0f0;
}

.activated.required-input:invalid {
	border-color: #ee5253;
}

.error-message {
	position: absolute;
	font-size: 0.75rem;
	margin-top: 4px;
	margin-left: calc(1px + .75rem);
	bottom: -1.5rem;

	display: flex;
	align-items: center;
	gap: 0.25rem;

	transition: opacity .25s ease-out;
}

.error-message,
.error-message > span,
.required-asterisk {
    color: #ee5253;
}

.error-message span {
    font-size: 1.25rem;
}

div.status-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 1rem;
}

.status-container input {
	user-select: none;
	cursor: pointer;
	opacity: 1;
	height: 1.25rem;
	width: 1.25rem;
}

.button-close {
	border: none;
	background-color: white;
	cursor: pointer;

	position: absolute;
	top: 1rem;
	right: 1rem;
}

.button-close:hover > span {
	color: #ee5253;
}

.button-close span {
	font-size: 2rem;
	transition: color .25s ease-out;
}
